@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    padding: 5px;
    width: 100px;
}

th {
    background-color: gray;
    color: white;
    font-weight: bolder;
    font-size: 1.2em;
}

.area {
    background-color: white;
    color: black;
}

.num {
    text-align: center;
}

.media {
    background-color: gray;
    color: white;
    font-weight: bolder;
    text-align: center;
}

.texto-media {
    text-align: left;
}