@charset "UTF-8";

/* APARELHO EM PE (PORTRAIT) */

body {
    background: url(../imagens/cev-portrait.jpg);
    background-position: center bottom;
    background-size: contain;
    background-repeat: no-repeat;
}